<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-title> Novo Cadastro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-thumbnail class="user-image">
    <img src="/assets/image/logo1.png" alt="" />
  </ion-thumbnail>
  <ion-row class="photo-wrapper">
    <ion-button fill="clear">Add Photo</ion-button>
  </ion-row>
  <form
    [formGroup]="livrosFormGroup"
    *ngIf="livrosFormGroup"
    #livrosFormGroupDirective="ngForm"
    (ngSubmit)="editLivros(livrosFormGroup.value)"
  >
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nome:</ion-label>
        <ion-input
          formControlName="nome"
          id="nome"
          inputmode="text"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Autor:</ion-label>
        <ion-input
          formControlName="autor"
          id="autor"
          inputmode="text"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Ano:</ion-label>
        <ion-input
          formControlName="ano"
          id="ano"
          inputmode="number"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Categoria:</ion-label>
        <ion-select placeholder="Select" formControlName="categoria">
          <ion-select-option value="Romance">Romance</ion-select-option>
          <ion-select-option value="Ficcao">Ficcao</ion-select-option>
          <ion-select-option value="Contos">Contos</ion-select-option>
          <ion-select-option value="Folclore">Folclore</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Livraria:</ion-label>
        <ion-input
          formControlName="livraria"
          id="livraria"
          inputmode="text"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Username:</ion-label>
        <ion-input
          formControlName="username"
          id="username"
          inputmode="text"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Senha:</ion-label>
        <ion-input
          formControlName="password"
          id="password"
          inputmode="text"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email:</ion-label>
        <ion-input
          formControlName="email"
          id="email"
          inputmode="text"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">CPF:</ion-label>
        <ion-input
          formControlName="cpf"
          id="cpf"
          inputmode="text"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">CEP:</ion-label>
        <ion-input
          formControlName="cep"
          id="cep"
          inputmode="text"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Logradouro:</ion-label>
        <ion-input
          formControlName="logradouro"
          id="logradouro"
          inputmode="text"
          clearInput="true"
          required
          readonly
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Número:</ion-label>
        <ion-input
          formControlName="numero"
          id="numero"
          inputmode="number"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Bairro:</ion-label>
        <ion-input
          formControlName="bairro"
          id="bairro"
          inputmode="text"
          clearInput="true"
          required
          readonly
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Cidade:</ion-label>
        <ion-input
          formControlName="localidade"
          id="localidade"
          inputmode="text"
          clearInput="true"
          required
          readonly
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-buttons slot="start">
          <ion-button type="submit" color="primary">Salvar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button type="submit" color="danger" (click)="deleteLivros()"
            >Delete</ion-button
          >
        </ion-buttons>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
