<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-title> Novo Cadastro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-thumbnail class="user-image">
    <img src="/assets/image/logo1.png" alt="" />
  </ion-thumbnail>
  <ion-row class="photo-wrapper">
    <ion-button fill="clear">Add Photo</ion-button>
  </ion-row>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listagem</ion-title>
      <ion-buttons collapse="true" slot="end">
        <ion-button color="primary" (click)="newLivros()">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-accordion-group>
    <ion-accordion *ngFor="let livros of livros |async">
      <ion-item slot="header" color="dark">
        <ion-label>{{livros.nome}} {{livros.autor}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/image/avatar1.png" alt="">
        </ion-avatar>
        <ion-label (click)="editLivros(livros.id)">{{livros.nome}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{livros.autor}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{livros.ano}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{livros.categoria}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{livros.livraria}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{livros.cep}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{livros.logradouro}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{livros.numero}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{livros.bairro}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{livros.localidade}}</ion-label>
        </ion-item>
    </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
