#right {
  ion-button{
    float: right;
    align-items: center;
    justify-content: end;
    margin-top: 12px;
  }
}
.user-image{
  --size: 100px;
  margin: auto;
}
.photo-wrapper{
  justify-content: center;
}
ion-content {
  --padding-top: 15px;
}

ion-title{
  text-align: center;
  color: #f3f3f3;
  font-weight: 600;
}

.new-background-color{
  --background: #D5B73C;
}

ion-list {
  ion-label {
    padding-left: 10px;
    margin-bottom: 6px;
    font-size: 18px;
    --color: #D5B73C;
    font-style: italic;
  }
}
